@font-face {
    font-family: 'Nike';
    src: url('../media/fonts/Nike-Font/Futura Condensed Extra Bold.otf');
    src: url('../media/fonts/Nike-Font/Futura Condensed Extra Bold.otf') format('eot'),
    url('../media/fonts/Nike-Font/Futura Condensed Extra Bold.otf') format('woff'),
    url('../media/fonts/Nike-Font/Futura Condensed Extra Bold.otf') format('truetype'),
    url('../media/fonts/Nike-Font/Futura Condensed Extra Bold.otf') format('svg');
    font-weight: normal;
    font-style: italic;
}
*{
    margin: 0;
}
header{
    position: fixed;
    background: gray;
    width: 100%;
    height: 100px;
    z-index: 10;
}
.logo{
    margin: 20px;
    width: 200px;
    height: auto;
    float: left;
}
header h1{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding-top: 20px;
    font-family: "Nike";
    font-size: 50pt;
}

.nav{
    margin: 25px;
    margin-top: 50px;
}
.nav-link{
    font-size: 18pt;
    font-family: "Nike";
    color: #fff;
}

.content{
    background-color: #DEDEDE;
    height: auto;
}
.card{
    margin-top: 20px;
}
.pagination{
    margin-left: 37%;
    margin-top: 20px;

}
/*more about Product*/
.all-photo-product{
float: left;
    margin: 10px;
    margin-top: 15px;

}

.photo-product{
    width: 430px;
    float: left;
}
.child-photo-product{
    width: 212.5px;
    float: left;
    margin: 2px;
}
.clearLeft{
    clear: left;
}
.product-description{
    padding: 20px;

}
/*main page*/
.content h1{
    padding: 15px;
    padding-top: 20px;
    font-family: "Nike";
    font-size: 35pt;
}
.photo-on-main-page{
    width: 350px;
    height: 350px;
    margin: 15px;
    z-index: 1;
}
.second-photo{
    margin-top: -40px;
    margin-left: 120px;
    z-index: -3;
}
.third-photo{
    margin-top: -40px;
    margin-left: -20px;
    z-index: -3;
}
/*basket*/
.head-of-list{
    background-color: #212121;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    list-style-type: none;
    height: 30px;
    border-radius: 30px 30px 0 0 ;
}
.list-group-item a{
    text-decoration: none;
    color: black;
}
